.header {
    max-width: 1440px;
    height: 1100px;
    border: 1px solid red;
    .header_top {
        width: 100%;
        height: 110px;
        // padding: 0 15%;
        .top-top {
            width: 100%;
            height: 50px;
            ul {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    margin-left: 0px;
                    a {
                        margin: 0 15px;
                        color: black;
                    }
                    a:hover {
                        color: #F7AC3B;
                    }
                }
                .li2 {
                    margin-right: 20px;
                    select {
                        border: none;
                    }
                    a {
                        margin: 0 10px;
                        color: black;
                        i {
                            color: black;
                            font-size: 25px;
                        }
                        i:hover {
                            color: #F7AC3B;
                        }
                    }
                }
            }
        }
        .top-bottom {
            background-color: #F2F2F2;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: start;
            .katalog {
                background-color: #F7AC3B;
                color: white;
                width: 140px;
                height: 80%;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .katalog:hover {
                background-color: #F7AC3B;
                color: black;
            }
            input {
                width: 45%;
                height: 40px;
                font-size: 22px;
                border: none;
                border-radius: 5px;
                border: 2px solid #cac7c7;
            }
            input[type=text] {
                width: 45%;
                -webkit-transition: width 0.4s ease-in-out;
                transition: width 0.4s ease-in-out;
            }
            input[type=text]:focus {
                width: 55%;
            }
            a {
                color: black;
                font-size: 19px;
                margin-left: 15px;
            }
            a:hover {
                color: #F7AC3B;
            }
        }
    }
    .header_bottom {
        width: 100%;
        height: 990px;
        // padding: 0 15%;
        .katalog-link {
            width: 100%;
            height: 50px;
            padding: 15px;
            a {
                padding: 0 10px;
                color: black;
            }
        }
        .katalog-img {
            width: 100%;
            height: 640px;
            h3 {
                font-size: 30px;
                padding: 15px;
            }
            ul {
                width: 100%;
                display: flex;
                .img-li1 {
                    width: 7.3%;
                    height: 100%;
                    margin: 10px;
                    img:hover {
                        width: 200px;
                        height: 200px;
                        position: relative;
                    }
                }
                .img-li2 {
                    width: 55%;
                    height: 550px;
                    margin: 10px 5px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .img-li3 {
                    width: 32%;
                    height: 550px;
                    border: 2px solid #F2F2F2;
                    margin: 10px 20px;
                    border-radius: 5px;
                    .gabrit {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 5px 0 10px 0;
                        font-size: 16px;
                        color: #747474;
                    }
                    .ul1 {
                        width: 100%;
                        li {
                            h4 {
                                font-size: 24px;
                            }
                            p {
                                font-size: 14px;
                                color: #747474;
                                margin-bottom: 25px;
                            }
                        }
                        border-bottom: 2px solid #F2F2F2;
                    }
                    .ul2 {
                        width: 100%;
                        li {
                            width: 100%;
                            display: flex;
                            p {
                                width: 30%;
                                display: flex;
                                padding: 10px;
                                justify-content: start;
                                color: #747474;
                            }
                            h4 {
                                width: 70%;
                                display: flex;
                                padding: 10px;
                                // align-items: center;
                                justify-content: end;
                            }
                        }
                    }
                    .ul3 {
                        width: 100%;
                        li {
                            width: 100%;
                            display: flex;
                            p {
                                width: 30%;
                                display: flex;
                                padding: 10px;
                                justify-content: start;
                                color: #747474;
                            }
                            h4 {
                                width: 70%;
                                display: flex;
                                padding: 10px;
                                // align-items: center;
                                justify-content: end;
                            }
                        }
                    }
                    .ul4 {
                        width: 100%;
                        li {
                            width: 100%;
                            display: flex;
                            p {
                                width: 30%;
                                display: flex;
                                padding: 10px;
                                justify-content: start;
                                color: #747474;
                            }
                            h4 {
                                width: 70%;
                                display: flex;
                                padding: 10px;
                                // align-items: center;
                                justify-content: end;
                            }
                        }
                    }
                    .ul5 {
                        width: 100%;
                        margin-top: 15px;
                        .li5 {
                            width: 240px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            font-size: 32px;
                            border: 2px solid #F2F2F2;
                            border-radius: 5px;
                        }
                        .li6 {
                            width: 140px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            font-size: 28px;
                            .h4m2 {
                                width: 45%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                color: white;
                                border-radius: 5px;
                                font-size: 16px;
                                background-color: #F7AC3B;
                                cursor: pointer;
                            }
                            .h4sht {
                                width: 45%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                border-radius: 5px;
                                font-size: 16px;
                                background-color: #F2F2F2;
                                cursor: pointer;
                            }
                        }
                    }
                    .ul6 {
                        width: 100%;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 29px;
                        margin-top: 20px;
                    }
                    button {
                        width: 95%;
                        height: 60px;
                        margin: 10px;
                        border-radius: 5px;
                        background-color: #F7AC3B;
                        border: none;
                        color: white;
                        font-family: 'Gotham Pro';
                        font-size: 18px;
                        cursor: pointer;
                    }
                    .ul7 {
                        width: 100%;
                        margin-top: 15px;
                        li {
                            width: 100%;
                            display: flex;
                            i {
                                width: 185px;
                                height: 60px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 26px;
                                background-color: #F2F2F2;
                                border-radius: 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .xarakteristika {
            width: 100%;
            height: 300px;
            h2 {
                margin-top: 15px;
                margin-left: 10px;
            }
            .xarakteristika-ul {
                display: flex;
                align-items: flex-start;
                justify-content: start;
                width: 100%;
                height: 79%;
                margin-top: 20px;
                padding-left: 10px;
                .ul8 {
                    width: 402px;
                    height: 195px;
                    margin-left: 0px;
                    h3 {
                        margin-bottom: 20px;
                    }
                    li {
                        display: flex;
                        margin-top: 5px;
                        p {
                            width: 50%;
                            color: #747474;
                        }
                        h4 {
                            width: 50%;
                        }
                    }
                }
                .ul9 {
                    width: 350px;
                    height: 105px;
                    margin-left: 0px;
                    h3 {
                        margin-bottom: 20px;
                    }
                    li {
                        display: flex;
                        margin: 5px 0;
                        p {
                            width: 50%;
                            color: #747474;
                        }
                        h4 {
                            width: 50%;
                        }
                    }
                }
                .ul10 {
                    width: 448px;
                    height: 105px;
                    margin-left: 0px;
                    h3 {
                        margin-bottom: 20px;
                    }
                    li {
                        display: flex;
                        margin: 5px 0;
                        p {
                            width: 50%;
                            color: #747474;
                        }
                        h4 {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
}

// @media (max-width:769) {
//     .header {
//         width: 100%;
//         .header_top {
//             width: 100%;
//             .top-top {
//                 width: 100%;
//                 ul {
//                     width: 100%;
//                     .li2 {
//                         label {
//                             span {
//                                 display: none;
//                             }
//                         }
//                     }
//                 }
//             }
//             .top-bottom {
//                 width: 100%;
//             }
//         }
//         .header_bottom {
//             width: 100%;
//             .katalog-link {
//                 width: 100%;
//             }
//             .katalog-img {
//                 width: 100%;
//             }
//         }
//     }
// }