* {
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  max-width: 1440px;
  height: 1100px;
  border: 1px solid red;
}
.header .header_top {
  width: 100%;
  height: 110px;
}
.header .header_top .top-top {
  width: 100%;
  height: 50px;
}
.header .header_top .top-top ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header_top .top-top ul li {
  margin-left: 0px;
}
.header .header_top .top-top ul li a {
  margin: 0 15px;
  color: black;
}
.header .header_top .top-top ul li a:hover {
  color: #F7AC3B;
}
.header .header_top .top-top ul .li2 {
  margin-right: 20px;
}
.header .header_top .top-top ul .li2 select {
  border: none;
}
.header .header_top .top-top ul .li2 a {
  margin: 0 10px;
  color: black;
}
.header .header_top .top-top ul .li2 a i {
  color: black;
  font-size: 25px;
}
.header .header_top .top-top ul .li2 a i:hover {
  color: #F7AC3B;
}
.header .header_top .top-bottom {
  background-color: #F2F2F2;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.header .header_top .top-bottom .katalog {
  background-color: #F7AC3B;
  color: white;
  width: 140px;
  height: 80%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header_top .top-bottom .katalog:hover {
  background-color: #F7AC3B;
  color: black;
}
.header .header_top .top-bottom input {
  width: 45%;
  height: 40px;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  border: 2px solid #cac7c7;
}
.header .header_top .top-bottom input[type=text] {
  width: 45%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.header .header_top .top-bottom input[type=text]:focus {
  width: 55%;
}
.header .header_top .top-bottom a {
  color: black;
  font-size: 19px;
  margin-left: 15px;
}
.header .header_top .top-bottom a:hover {
  color: #F7AC3B;
}
.header .header_bottom {
  width: 100%;
  height: 990px;
}
.header .header_bottom .katalog-link {
  width: 100%;
  height: 50px;
  padding: 15px;
}
.header .header_bottom .katalog-link a {
  padding: 0 10px;
  color: black;
}
.header .header_bottom .katalog-img {
  width: 100%;
  height: 640px;
}
.header .header_bottom .katalog-img h3 {
  font-size: 30px;
  padding: 15px;
}
.header .header_bottom .katalog-img ul {
  width: 100%;
  display: flex;
}
.header .header_bottom .katalog-img ul .img-li1 {
  width: 7.3%;
  height: 100%;
  margin: 10px;
}
.header .header_bottom .katalog-img ul .img-li1 img:hover {
  width: 200px;
  height: 200px;
  position: relative;
}
.header .header_bottom .katalog-img ul .img-li2 {
  width: 55%;
  height: 550px;
  margin: 10px 5px;
}
.header .header_bottom .katalog-img ul .img-li2 img {
  width: 100%;
  height: 100%;
}
.header .header_bottom .katalog-img ul .img-li3 {
  width: 32%;
  height: 550px;
  border: 2px solid #F2F2F2;
  margin: 10px 20px;
  border-radius: 5px;
}
.header .header_bottom .katalog-img ul .img-li3 .gabrit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 10px 0;
  font-size: 16px;
  color: #747474;
}
.header .header_bottom .katalog-img ul .img-li3 .ul1 {
  width: 100%;
  border-bottom: 2px solid #F2F2F2;
}
.header .header_bottom .katalog-img ul .img-li3 .ul1 li h4 {
  font-size: 24px;
}
.header .header_bottom .katalog-img ul .img-li3 .ul1 li p {
  font-size: 14px;
  color: #747474;
  margin-bottom: 25px;
}
.header .header_bottom .katalog-img ul .img-li3 .ul2 {
  width: 100%;
}
.header .header_bottom .katalog-img ul .img-li3 .ul2 li {
  width: 100%;
  display: flex;
}
.header .header_bottom .katalog-img ul .img-li3 .ul2 li p {
  width: 30%;
  display: flex;
  padding: 10px;
  justify-content: start;
  color: #747474;
}
.header .header_bottom .katalog-img ul .img-li3 .ul2 li h4 {
  width: 70%;
  display: flex;
  padding: 10px;
  justify-content: end;
}
.header .header_bottom .katalog-img ul .img-li3 .ul3 {
  width: 100%;
}
.header .header_bottom .katalog-img ul .img-li3 .ul3 li {
  width: 100%;
  display: flex;
}
.header .header_bottom .katalog-img ul .img-li3 .ul3 li p {
  width: 30%;
  display: flex;
  padding: 10px;
  justify-content: start;
  color: #747474;
}
.header .header_bottom .katalog-img ul .img-li3 .ul3 li h4 {
  width: 70%;
  display: flex;
  padding: 10px;
  justify-content: end;
}
.header .header_bottom .katalog-img ul .img-li3 .ul4 {
  width: 100%;
}
.header .header_bottom .katalog-img ul .img-li3 .ul4 li {
  width: 100%;
  display: flex;
}
.header .header_bottom .katalog-img ul .img-li3 .ul4 li p {
  width: 30%;
  display: flex;
  padding: 10px;
  justify-content: start;
  color: #747474;
}
.header .header_bottom .katalog-img ul .img-li3 .ul4 li h4 {
  width: 70%;
  display: flex;
  padding: 10px;
  justify-content: end;
}
.header .header_bottom .katalog-img ul .img-li3 .ul5 {
  width: 100%;
  margin-top: 15px;
}
.header .header_bottom .katalog-img ul .img-li3 .ul5 .li5 {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 32px;
  border: 2px solid #F2F2F2;
  border-radius: 5px;
}
.header .header_bottom .katalog-img ul .img-li3 .ul5 .li6 {
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 28px;
}
.header .header_bottom .katalog-img ul .img-li3 .ul5 .li6 .h4m2 {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  background-color: #F7AC3B;
  cursor: pointer;
}
.header .header_bottom .katalog-img ul .img-li3 .ul5 .li6 .h4sht {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  background-color: #F2F2F2;
  cursor: pointer;
}
.header .header_bottom .katalog-img ul .img-li3 .ul6 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  margin-top: 20px;
}
.header .header_bottom .katalog-img ul .img-li3 button {
  width: 95%;
  height: 60px;
  margin: 10px;
  border-radius: 5px;
  background-color: #F7AC3B;
  border: none;
  color: white;
  font-family: "Gotham Pro";
  font-size: 18px;
  cursor: pointer;
}
.header .header_bottom .katalog-img ul .img-li3 .ul7 {
  width: 100%;
  margin-top: 15px;
}
.header .header_bottom .katalog-img ul .img-li3 .ul7 li {
  width: 100%;
  display: flex;
}
.header .header_bottom .katalog-img ul .img-li3 .ul7 li i {
  width: 185px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  background-color: #F2F2F2;
  border-radius: 5px;
  cursor: pointer;
}
.header .header_bottom .xarakteristika {
  width: 100%;
  height: 300px;
}
.header .header_bottom .xarakteristika h2 {
  margin-top: 15px;
  margin-left: 10px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 79%;
  margin-top: 20px;
  padding-left: 10px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul8 {
  width: 402px;
  height: 195px;
  margin-left: 0px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul8 h3 {
  margin-bottom: 20px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul8 li {
  display: flex;
  margin-top: 5px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul8 li p {
  width: 50%;
  color: #747474;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul8 li h4 {
  width: 50%;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul9 {
  width: 350px;
  height: 105px;
  margin-left: 0px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul9 h3 {
  margin-bottom: 20px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul9 li {
  display: flex;
  margin: 5px 0;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul9 li p {
  width: 50%;
  color: #747474;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul9 li h4 {
  width: 50%;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul10 {
  width: 448px;
  height: 105px;
  margin-left: 0px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul10 h3 {
  margin-bottom: 20px;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul10 li {
  display: flex;
  margin: 5px 0;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul10 li p {
  width: 50%;
  color: #747474;
}
.header .header_bottom .xarakteristika .xarakteristika-ul .ul10 li h4 {
  width: 50%;
}

/*# sourceMappingURL=main.css.map */
